# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
# Your code goes here

import pandas as pd
import numpy as np

In [192]:
# import csvs

url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

In [193]:
# columns cleaning 1

df1.columns = [col.strip().lower().replace(" ", "_") for col in df1.columns]
df2.columns = [col.strip().lower().replace(" ", "_") for col in df2.columns]
df3.columns = [col.strip().lower().replace(" ", "_") for col in df3.columns]

In [194]:
# use the rename because otherwise replace() can distort other columns where it finds 'st' in the strings..

df1.rename(columns = {df1.columns[1]: 'state'}, inplace=True)
df2.rename(columns = {df2.columns[1]: 'state'}, inplace=True)

In [195]:
# concat all the files 

df = pd.concat([df1, df2, df3], join = 'outer', axis = 0, ignore_index=True)

In [196]:
# cleaning null values 

# this will give me the total number of unique null values in each row.. I can use thresh to drop null values. 

df.isna().sum(axis=1).unique()

df.dropna(thresh=2, inplace=True)

In [211]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9137 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9137 non-null   object
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   object
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 856.6+ KB

In [197]:
# replace CLV NA with 0

df['customer_lifetime_value'].fillna(0, inplace=True)

C:\Users\rergu\AppData\Local\Temp\ipykernel_25284\3797211875.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['customer_lifetime_value'].fillna(0, inplace=True)

In [198]:
# replace Gender NA with Female

df.fillna('F', inplace=True)

In [202]:
# this is to see unique value counts

df['gender'].value_counts()

# if I use normalize I will get % of it;

df['gender'].value_counts(normalize=True)

gender
F    0.517566
M    0.482434
Name: proportion, dtype: float64

In [203]:
# this is to see unique value counts

df['state'].value_counts()

state
California    3152
Oregon        2601
Arizona       1704
Nevada         882
Washington     798
Name: count, dtype: int64

In [200]:
# clean values on the rows

df['state'].replace({'AZ':'Arizona', 'WA': 'Washington', 'Cali': 'California'}, inplace=True)

C:\Users\rergu\AppData\Local\Temp\ipykernel_25284\822702178.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['state'].replace({'AZ':'Arizona', 'WA': 'Washington', 'Cali': 'California'}, inplace=True)

In [201]:
# clean values on the rows

#gender rows cleaning

df['gender'] = df['gender'].map({'F':'F', 'M':'M', 'Male': 'M', 'female': 'F', 'Femal': 'F'}, na_action='ignore')

In [204]:
# clean values on the rows

df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})

In [205]:
# clean values on the rows

df['vehicle_class'] = df['vehicle_class'].replace({'Luxury SUV': 'Luxury', 'Sports Car': 'Luxury', 'Luxury Car': 'Luxury'})

In [ ]:
# clean values on the rows clv, astype str then strip will not make numbers NaN

df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str).str.strip("%")

# clean dtypes clv convert to float
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

In [ ]:
# compliants to clean the middle number

df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: str(x))

df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: str(x).strip().split("/")[1] if len(x)>1 else x)

df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: float(x))

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', '0',
       '2', '3', '1', '5', '4'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9137 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9137 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   float64
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(5), object(6)
memory usage: 856.6+ KB

In [263]:
df.reset_index(drop=1, inplace=True)

In [264]:
df.to_csv('df_cleaned', index = False)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [266]:
# load csv

url= 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'

df = pd.read_csv(url)

df.sample(5)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
746,746,CT96082,Oregon,4711.080198,No,Basic,Bachelor,2011-01-05,Disabled,F,...,6,Corporate Auto,Corporate L3,Offer1,Call Center,49.364254,Two-Door Car,Medsize,A,1
3831,3831,PX31667,Washington,2952.360309,No,Basic,High School or Below,2011-02-03,Employed,M,...,1,Personal Auto,Personal L3,Offer1,Branch,355.200000,Two-Door Car,Small,A,2
1891,1891,FU17577,Oregon,3788.814643,No,Basic,High School or Below,2011-01-10,Unemployed,F,...,1,Personal Auto,Personal L3,Offer1,Agent,763.200000,SUV,Medsize,A,1
7489,7489,RS59102,California,12885.786760,No,Basic,College,2011-02-12,Employed,M,...,2,Personal Auto,Personal L3,Offer1,Agent,528.000000,Sports Car,Medsize,A,2
1757,1757,AJ58038,California,2396.219292,Yes,Basic,Bachelor,2011-01-10,Unemployed,F,...,1,Corporate Auto,Corporate L1,Offer2,Call Center,433.160284,Four-Door Car,Large,A,1

In [277]:
df.drop(columns=['unnamed:_0'], inplace=True)

In [278]:
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

In [279]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10910 non-null  object
 1   state                          10910 non-null  object
 2   customer_lifetime_value        10910 non-null  float64
 3   response                       10910 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective_to_date              10910 non-null  object
 7   employmentstatus               10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location_code                  10910 non-null  object
 11  marital_status                 10910 non-null  object
 12  monthly_premium_auto           10910 non-null  int64
 13  months_since_last_claim        10910 non-null  float64
 14  months_since_policy_inception  10910 non-null  int64
 15  number_of_open_complaints      10910 non-null  float64
 16  number_of_policies             10910 non-null  int64
 17  policy_type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew_offer_type               10910 non-null  object
 20  sales_channel                  10910 non-null  object
 21  total_claim_amount             10910 non-null  float64
 22  vehicle_class                  10910 non-null  object
 23  vehicle_size                   10910 non-null  object
 24  vehicle_type                   10910 non-null  object
 25  month                          10910 non-null  int64
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [270]:
df.isna().any()

unnamed:_0                       False
customer                         False
state                            False
customer_lifetime_value          False
response                         False
coverage                         False
education                        False
effective_to_date                False
employmentstatus                 False
gender                           False
income                           False
location_code                    False
marital_status                   False
monthly_premium_auto             False
months_since_last_claim          False
months_since_policy_inception    False
number_of_open_complaints        False
number_of_policies               False
policy_type                      False
policy                           False
renew_offer_type                 False
sales_channel                    False
total_claim_amount               False
vehicle_class                    False
vehicle_size                     False
vehicle_type                     False
month                            False
dtype: bool

In [280]:
df.describe()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month
count,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000
mean,8018.241094,37536.284785,93.196059,15.149071,48.091934,0.384256,2.979193,434.888330,1.466728
std,6885.081434,30359.195670,34.442532,9.783520,27.940675,0.885589,2.399359,292.180556,0.498915
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007,1.000000
25%,4014.453113,0.000000,68.000000,7.000000,24.000000,0.000000,1.000000,271.082527,1.000000
50%,5771.147235,33813.500000,83.000000,15.000000,48.000000,0.000000,2.000000,382.564630,1.000000
75%,8992.779137,62250.750000,109.000000,23.000000,71.000000,0.384256,4.000000,547.200000,2.000000
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678,2.000000

In [273]:
df['sales_channel'].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [281]:
pivot_df_chanels = df.pivot_table(index='sales_channel', values=['income'], aggfunc="sum")

In [284]:
round(pivot_df_chanels,2)

                  income
sales_channel
Agent          152490152
Branch         113775608
Call Center     81055004
Web             62200103

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [286]:
pivot_clv = pd.pivot_table(
    df,
    index='gender',
    columns='education',
    values='customer_lifetime_value',
    aggfunc='mean'
)

print(pivot_clv)

education     Bachelor      College       Doctor  High School or Below  \
gender
F          7874.269478  7748.823325  7328.508916           8675.220201
M          7703.601675  8052.459288  7415.333638           8149.687783

education       Master
gender
F          8157.053154
M          8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [289]:
# Your code goes here

pivot_policy = pd.pivot_table(df, index = 'policy_type', columns = 'month', values= 'number_of_open_complaints', aggfunc= 'sum' )

print(pivot_policy)

month                     1            2
policy_type
Corporate Auto   443.434952   385.208135
Personal Auto   1727.605722  1453.684441
Special Auto      87.074049    95.226817